{% extends 'base.html' %}

{% block content %}

<style>
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<h1> Read page</h1>
<p>List of Tables:</p>
<table style>
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Legs</th>
            <th>Price</th>
            <th>Available</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        {% for table in table_reads %}
        <tr>
            <td>{{ table.name }}</td>
            <td>{{ table.color }}</td>
            <td>{{ table.legs }}</td>
            <td>{{ table.price }}</td>
            <td>{{ table.available }}</td>
            <td>
                <form method="POST" action="{% url 'delete' table.pk %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form method="POST" action="{% url 'update' table.pk %}">
                    {% csrf_token %}
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}